*{
  box-sizing: border-box !important;
}

#email-input{
  width: 100%;
  padding: 20px 30px !important;
  border-radius: 20px;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  gap: 10px;
}
#email-input>input{
  border: none;
  outline: none;
  width: 100%;
}
#email-input:focus-within{
  box-shadow: 0px 0px 0px 5px rgb(159, 191, 235);
}

#btn-submit{
  width: 100%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 25px 0px !important;
  padding: 20px 0px !important;
  background-color: rgb(239, 228, 64);
  box-shadow: 0px 10px 0px 0px #000;
}
#btn-submit:hover{
  background-color: rgb(203, 194, 60);
}
#rem>a{
  color: rgb(78, 78, 226);
  text-decoration: underline dotted;
}
#rem>a:hover{
  color: rgb(36, 36, 120);
  text-decoration: underline ;
}
#btn-checkout{
  padding: 15px;
  margin: 15px 0px;
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  transition: all .2s ease;
}
#btn-checkout:hover{
  background-color: orange !important;
  transition: all .2s ease;
}
#btn-join{
  padding: 15px;
  margin: 15px 0px;
  border: none;
  color: white;
  font-size: 20px;
  transition: all .1s ease;
}
#btn-join:hover{
  background-color: rgb(55, 55, 55) !important;
  transition: all .1s ease;
}
#navbar{
  position: fixed;
  top: 0 !important;
  left: 0 !important;
  z-index: 1000 !important;
  transition: all .3s ease;
}

#intro{
  margin-top: 50px !important;
  height: 100vh;
  width: 100% !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  background-image: url(./img/banner-1.jpg);
  /* background-size: cover; */
  /* background-position: center; */
  background-repeat: no-repeat;
}

#intro-text{
  height: 79%;
}
#intro-box{
  height: 20%;
}

@media (min-width: 992px) {
  #intro-text{
    width: 50% !important;
  }
}